@use './design.scss' as d;

html,
body,
#root {
  height: 100%;
}

.wrapper-app {
  min-height: 100%;
  font-family: d.$font-family-primary;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  color: d.$neutral-very-dark-blue;
  background: d.$neutral-very-light-gray;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card1 {
}

.card2 {
}

.card3 {
}

.card4 {
}
